---
layout: default
title: Works
permalink: /works/
custom_css: works.css
---
<!--
    Individual project .md fields are:
    layout: project
    title: "Some Project"
    description: "blahdeblah"
    external_url: "https://somegithublinkorsomething"
    output: false # set true to allow this project to have its own page, otherwise it links to external_url
    image: local relative url # will be displayed if present, with lightbox-style zoom
    external_image: "https://someremoteurl" # will be displayed if present, with lightbox-style zoom
    youtube: "1cWc12324" embed is built in the html, just paste the ID here
-->
<p>Some examples of past and ongoing work - from music and games to open-source software and hardware projects</p>

{% assign source = site.works %}

{% assign pinned    = source | where_exp: "i", "i.pinned != nil" | where_exp: "i", "i.pinned >= 0" %}
{% assign unpinned1 = source | where_exp: "i", "i.pinned == nil" %}
{% assign unpinned2 = source | where_exp: "i", "i.pinned < 0" %}
{% assign unpinned  = unpinned1 | concat: unpinned2 %}


{% assign priorities = pinned | map: "pinned" | uniq | sort %}

<!-- <div class="items-container"> -->
    {% for prio in priorities %}
    {% assign bucket = pinned | where: "pinned", prio | sort: "title" %}
    {% for it in bucket %}
        {% include item-preview.html item=it %}
    {% endfor %}
    {% endfor %}

    {% assign others_sorted = unpinned | sort: "title" %}
    {% for it in others_sorted %}
    {% include item-preview.html item=it %}
    {% endfor %}
<!-- </div> -->