{%- comment -%}
  _includes/item-preview.html
  Expected input:
    include.item -> the post/project object
{%- endcomment -%}

{% assign src = nil %}

{% assign i = include.item %}

<article class="item">




  
    

{% if i.showmediapreview == true %}

  {% assign item_href = i.url | relative_url %}
  {% assign preview_img = nil %}
  {% assign is_youtube = false %}

  {% if i.image or i.external_image %}
    {% assign preview_img = i.image | default: i.external_image %}
  {% elsif i.youtube and i.youtube.id and i.youtube.id != "" %}
    {% assign preview_img = "https://i.ytimg.com/vi/" | append: i.youtube.id | append: "/maxresdefault.jpg" %}
    {% assign is_youtube = true %}
  {% endif %}

  {% if preview_img %}
    <a href="{{ item_href }}" class="item-media-link">
      {% if preview_img contains "http" %}
        <img 
          src="{{ preview_img }}" 
          alt="{{ i.title }}" 
          class="item-thumb{% if is_youtube %} item-thumb--youtube{% endif %}">
      {% else %}
        <img 
          src="{{ preview_img | relative_url }}" 
          alt="{{ i.title }}" 
          class="item-thumb{% if is_youtube %} item-thumb--youtube{% endif %}">
      {% endif %}
    </a>
  {% endif %}

{% endif %}

  <h3 class="item-title">
    <a href="{{ i.url | relative_url }}">
        {{ i.title }}
    </a>
    
  </h3>

{% if i.description %}
    <p class="item-desc">{{ i.description }}</p>
  {% else %}
    <p class="item-desc">{{ i.excerpt | strip_html | truncate: 320 }}</p>
  {% endif %}


<p class="item-meta">

{% if i.type == "blog" or i.output != false %}
    <span class="read-more">
        <a href="{{ i.url | relative_url }}">Read more...</a>
    </span>
    {% endif %}

<!--Only show date on blog post items-->
  {% if i.collection == "posts" %}
    <span class="item-date"><a href="{{ i.url | relative_url }}">Posted on {{ i.date | date: "%Y-%m-%d" }}</a></span>
  {% endif %}


</p>

  
</article>