<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/style.css' | relative_url }}">
</head>
<body>
    <div class="wrap">
        <div class="innerwrap">
            <div class="container">


        <div class="section head-section">
            
              <img class="avatar-image" src="img/echo_av_trans.png" alt="profile photo">

              <div class="titletext">echolevel</div>
              Brendan O'Callaghan Ratliff - composer, sound engineer and game developer specialising in realtime dynamic music systems. 
              
              I'm also Audio Director at <a target="_blank" rel="noopener noreferrer" href="https://cardboardsword.co.uk/">Cardboard Sword</a>
              where we've just released 
              <a href="https://store.steampowered.com/app/653060/The_Siege_and_the_Sandfox/" target="_blank">The Siege and The Sandfox</a> and 
              are working on the forthcoming game
              <a href="https://store.steampowered.com/app/509950/Transmission/" target="_blank">Transmission</a>.              
            
          
          </div>

          <br/>

          <div class="section">
            <hr>

            <div class="nav-bar">
              <div class="nav-left">
            <a href="#skills">skills</a>
            •            

            <a href="#clients">clients</a>
            •            

            <a href="#about">about</a>
            •
            
            <a href="#experience">experience</a>
            •

            <a href="#projects">other work/projects</a>
            •

            <a href="#contact">contact</a>

            </div>
            
              <div class="nav-right">
                <a title="blog" href="http://echolevel.tumblr.com"><i class="fa-brands fa-tumblr"></i></a> &nbsp;
                <a title="bluesky" href="https://bsky.app/profile/echolevel.co.uk" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-bluesky"></i></a> &nbsp;
                <a title="github" href="http://github.com/echolevel" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a> &nbsp;
                <a title="bandcamp" href="http://syphus.bandcamp.com" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-bandcamp"></i></a>
              </div>
            </div>

            <hr>

            <div class="section-title">
                {{ content }}

            </div>

            <div class="section-title" id="skills">
              I specialise in:
            </div>
            <ul>
              <li>
                Game music, sound design &amp; audio production
              </li>
              <li>
                Design &amp; implementation of realtime dynamic/procedural game music systems in Unreal Engine (C++ and Blueprint);
                at Cardboard Sword I write and maintain our in-house audio middleware, including a standalone DAW and various Unreal Engine plugins.
              </li>
              <li>
                General gameplay and game systems coding; dev tooling; build engineering
              </li>
              <li>
                Location sound recording &amp; audio post production for TV, film, radio and podcast
              </li>
            </ul>
            
            <div class="section-title" id="clients">
              Freelance clients include:
            </div>            
            <br>
            <div class="flex-container" id="clients" style="display: flex; align-items: center; flex-wrap: wrap; text-align: center;">
              
              <div><img title="BBC" alt="BBC" style="width:175px" src="img/clients/bbc.png"><br></div>
              <div><img title="NHS" alt="NHS" style="width:175px" src="img/clients/nhs-bw2.jpg"><br></div>
              <div><img title="Nike" alt="Nike" style="width:175px" src="img/clients/nike.jpg"><br></div>
              <div><img title="Adidas" alt="Adidas" style="width:175px" src="img/clients/adidas.jpg"><br></div>
              <div><img title="Atomhawk (Sumo Group)" alt="Atomhawk (Sumo Group)" style="width:175px" class="inv-bg" src="img/clients/atomhawk.webp"><br></div>
              <div><img title="END. Clothing" alt="END. Clothing" style="width:175px" src="img/clients/endclothing.jpg"><br></div>
              <div><img title="JD Sports" alt="JD Sports" style="width:175px;" class="inv-bg" src="img/clients/jd-sports.png"><br></div>
              <div><img title="Roots &amp; Wings" alt="Roots &amp; Wings" style="width:175px" class="inv-bg" src="img/clients/Roots+and+Wings-STAMP.png"><br></div>              
              <div><img title="Newcastle United Football Club" alt="Newcastle United Football Club" style="width:175px" src="img/clients/nufc.jpg"><br></div>
              <div><img title="Sunderland AFC" alt="Sunderland AFC" style="width:175px" src="img/clients/tn_sunderland_afc.png"><br></div>
              <div><img title="The Deli Film Co" alt="The Deli Film Co" style="width:175px" src="img/clients/delifilmco.jpg"><br></div>
              <div><img title="Nexus Travel" alt="Nexus Travel" style="width:175px" class="inv-bg" src="img/clients/nexus.png"><br> </div>              
                            
            </div>                   

            <div class="section-title" id="about">
              About me:
            </div>
            <p>
              Coming from a family of musicians and continuing a lineage of Irish traditional fiddle playing
              from the age of 6, I also received classical violin and piano tuition and taught myself various
              other instruments (guitar, bass, flute, etc) in my early teens. Since then I've been performing,
              recording and composing professionally, as well as producing <a href="https://syphus-mods.github.io">8-bit/chiptune music in the demoscene
              under the name Syphus since the early 1990s</a>. When in the 2000s chipmusic finally became cool enough
              to perform in public, I gigged around the world as Syphus with my Commodore Amiga and a keytar;
              particular highlights included two Chiptune Alliance tours of Britain, and Blip Festival in 
              New York.
              <br><br>

              Back in the studio I've been commissioned to produce
              original musical works for a wide range of clients including BBC Radio 3 Drama, 
              BBC Radio 4 Drama, Sunderland A.F.C., Newcastle United Foundation,
              The Centre for Process Innovation, We Are Strongness and FME;
              and for numerous games on PC/Mac, consoles and mobile.

              <br><br>
              Right now I'm lucky enough to be fulfilling a lifelong dream: making video games!
              As Audio Director at 
              <a href="https://cardboardsword.co.uk/" target="_blank" rel="noopener noreferrer">Cardboard Sword</a>
              I spend most of my time coding our in-house DAW and middleware, composing our music, and handling all 
              sound design production and implementation.
              I also step in as a gameplay programmer and build engineer when required.
            </p>
            
            <div class="section-title" id="experience">
              Employment / Academic History:
            </div>
              <br>
              <ul>
                <li>
                  Degree: BA (Hons) in English Literature &amp; Music, Newcastle University (2004)
                </li>              
                <li>
                  Degree: MA (with Distinction) in Music, Newcastle University (2006)
                </li>
                <li>
                  From 2008 to 2010 I worked at Newcastle University's Culture Lab, supporting and tutoring on its MRes degree course in Digital Media and gaining experience in 
                  software and hardware development, workshop fabrication, video production, interactive art installations and studio engineering.
                </li>
                <li>
                  Since 2004 I've also worked freelance as a web, mobile app &amp; hybrid desktop app developer, having delivered projects for clients including the NHS, 
                  King's College London, Newcastle University, the Great North Children's Hospital and the West End Refugee Service. I also develop open-source music software for fun - <a href="https://github.com/echolevel" title="Echolevel on GitHub" target="_blank" rel="noopener noreferrer">available on my GitHub</a>.
                </li>              
                <li>
                  I composed music for various games in the late 00s and 2010s, notably:
                    <ul>
                      <li>
                        <a href="https://store.steampowered.com/app/305070/FIST_OF_AWESOME/" title="Fist of Awesome on Steam" target="_blank">Fist of Awesome</a> | <a href="https://syphus.bandcamp.com/album/fist-of-awesome-soundtrack">(soundtrack)</a>
                      </li>
                      <li>
                        <a href="https://store.steampowered.com/app/204390/Pineapple_Smash_Crew/" title="Pineapple Smash Crew on Steam" target="_blank">Pineapple Smash Crew</a> | <a href="https://syphus.bandcamp.com/album/pineapple-smash-crew-soundtrack">(soundtrack)</a>
                      </li>
                      <li>
                        <a href="https://syphus.bandcamp.com/album/gun-runner-soundtrack" title="Gun Runner soundtrack on Bandcamp" target="_blank">Gun Runner soundtrack</a>
                      </li>                      
                    </ul>
                  
                </li>
                <li>
                  Before entering the games industry proper, I gained a lot of experience in other film sound 
                  disciplines - Foley, sound design, scoring, dubbing and mixing - by collaborating with local 
                  film makers alongside my freelance location sound and audio post work.
                </li>
                <li>
                  I'm now a director at <a href="https://cardboardsword.co.uk/" target="_blank" rel="noopener noreferrer">Cardboard Sword</a>
                  where our contract clients include Epic Games, Playground Games, Coatsink, Rivet Games and Critical Failure Studio.
                  We recently shipped The Siege and The Sandfox, a 2D stealth metroidvania, and we're working on multiple original properties
                  including the forthcoming game Transmission. While skilled in various game engines and pipelines, we specialise in Unreal Engine.
                  <br><br>
                  I've been with Cardboard Sword since 2017 and my responsibilities include:
                <ul>
                <li>
                  All aspects of the audio creation, production and implementation pipeline, including instrumentation; recording; 
                  production; mixing; gameplay systems in Blueprint and C++; performance-critical realtime audio DSP in C++ for desktop, 
                  mobile and console platforms
                </li>
                <li>
                  General C++ and Blueprint development as required, including gameplay systems, in-house tooling, debug utilities, performance metrics, etc.
                </li>
                <li>
                  Build engineering (VS, Perforce, TeamCity, desktop and mobile build automation, etc.)
                </li>
                <li>
                  A bunch of other stuff (we're a small team!)
                </li>
              </ul>

                </li>
                </ul>


                
            


            <div class="section-title" id="projects">
              Other work:
            </div>

            <p>
                I also still have some availability for film and TV location sound recording work and can 
                supply my own kit including:
            </p>
                <ul>
                  <li>
                    Sound Devices 633 recorder; SQN mixers; Zoom F8/F4/H5 backup recorders
                  </li>
                  <li>
                    microphones by Neumann, Sennheiser, Audix, Sanken, Oktava, Tram, OST and LOM
                  </li>
                  <li>
                    4 channels of radio (PMSE licensed); wired and wireless client listen solutions
                  </li>                  
                  <li>
                    timecode
                  </li>
                  <li>
                    fully insured (PLI and PII) and clean UK driving license 
                  </li>
                </ul>                
                
                I can also offer:
                <ul>
                  <li>
                    audio post production for film, TV, commercials, podcasts and radio
                  </li>                  
                  <li>
                    location Foley and VO recording 
                  </li>
                </ul>                
            <p>
              I'm not taking on new web development work right now, but I still maintain apps and platforms I've delivered for charities and non-profits in the past.
            </p>

            <p>
              A complete archive of my chiptune and demoscene music is available at <a href="https://syphus-mods.github.io">syphus-mods.github.io</a>.
            </p>

            
            <div class="section-title">
              Open source software and hardware projects:
            </div>
            <p>

                My <a title="github" href="http://github.com/echolevel" target="_blank" rel="noopener noreferrer">GitHub</a> 
                is where you can find my open-source software and hardware projects, such as:
            </p>
                  <ul>
                    <li>
                      <a href="https://github.com/echolevel/GlueMidi">GlueMidi</a> - a MIDI routing taskbar app for Windows
                    </li>
                    <li>
                      <a href="https://github.com/echolevel/Fcp2Rpp">Fcp2Rpp</a> - converts Final Cut Pro and DaVinci Resolve XML to Reaper projects
                    </li>
                    <li>
                      <a href="https://github.com/echolevel/Fader3">Fader3</a> - schematics, 3D printer STLs and accompanying config app for a long-throw, 3-fader 14bit MIDI controller of my own design
                    </li>
                    <li>
                      <a href="https://github.com/echolevel/AmigaPal">AmigaPal</a> - a sample converter for preparing audio samples to use on Amiga 
                    </li>
                    <li>
                      <a href="https://github.com/echolevel/open-amiga-sampler">Open Amiga Sampler</a> - schematics, PCB design and STLs to produce a low cost, high quality version of the classic parallel-port Amiga 8bit audio sampler cartridge (with my pal mnstrmnch)
                    </li>
                    <li>
                      Lots of small, handy things such as Ableton control scripts, Roli Lightpad apps, 
                      Commodore Amiga-related stuff, and fun older projects that...might still work
                    </li>
                  </ul>
            


            <div class="section-title" id="contact">Contact:</div>
            <p>              
              To get in touch, please email me: brendan [ at ] echolevel [ dot ] co [ dot ] uk
            </p>

          </div>

          <div class="footer-bar">
            © Brendan O'Callaghan Ratliff 2025
          </div>

        </div><!--container end-->
    </div>
  </div>
</body>
</html>
